.menu-pane{
    -fx-background-color: #CEE4F4;
}
.logo{
    -fx-background-image: url("../images/medserveLogo.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.medserve{
    -fx-text-fill: #218AD5;
    -fx-font-family: "Instrument Sans SemiBold";
}
.profile-pane{
    -fx-background-color: #CEE4F4;
    -fx-background-radius: 10;
}
.profile-icon{
    -fx-background-image: url("../images/profile_icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.separator .line{
    -fx-border-color: #77ACC5;
    -fx-border-width: 0.5;
}
.mainmenu-label{
    -fx-text-fill: gray;
}
.mainmenu-button{
    -fx-background-radius: 10;
    -fx-background-color: rgba(0,0,0,0);
    -fx-font-family: "Instrument Sans Medium";
    -fx-font-size: 15px;
}
.mainmenu-button:hover {
    -fx-background-color: #6fa5d5;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-family: "Instrument Sans Bold";
}
.logout:hover{
    -fx-cursor: hand;
}
.logout-icon{
    -fx-background-image: url("../images/logout_icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.scroll-bar:vertical {
    -fx-pref-width: 15;
}

.scroll-bar .thumb {
    -fx-background-color: #ccc;
    -fx-background-radius: 5;
}