@import "menu-pane.css";

.main-pane{
    -fx-background-color: #EBF2F6;
}
.notification-icon{
    -fx-background-image: url("../images/notification_icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.notification-icon:hover {
    -fx-cursor: hand;
}
.search-bar{
    -fx-background-color: transparent;
    -fx-border-color: #218AD5;
    -fx-border-width: 2;
    -fx-text-fill: #218AD5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.search-field{
    -fx-background-color: transparent;
}
.search-button{
    -fx-background-color: #218AD5;
}

/* -- Services -- */
.schedule-date-header{
    -fx-font-weight: bold;
}
.schedule-panel{
    -fx-background-color: white;
    -fx-background-radius: 10;
}
.slot-card-active{
    -fx-background-color: #98C9ED;
    -fx-background-radius: 10;
}
.slot-name-acive{
    -fx-font-weight: bold;
}
.slot-location-active{

}
.slot-card{
    -fx-background-color: #CEE4F4;
    -fx-background-radius: 10;
}
.slot-name{

}
.slot-location{

}
.scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* -- Calendar -- */
.calendar-nav{
    -fx-background-color: white;
    -fx-background-radius: 3;
}
.day-panel{
    -fx-background-color: white;
}
.cal-days-panel{
    -fx-background-color: white;
    -fx-background-radius: 3;
}
.cal-arrow-button{
    -fx-background-color: transparent;
}
.cal-day-label{
    -fx-background-color: transparent;
}

.previous-button{
    -fx-background-color: #CEE4F4;
    -fx-text-fill: #218AD5;
    -fx-background-radius: 8;
}
.previous-button:hover{
    -fx-background-color: #98C9ED;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 8;
}
.confirm-button{
    -fx-background-color: #218AD5;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}
.confirm-button:hover{
    -fx-background-color: #98C9ED;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 8;
}
.cal-cell {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 5;
}

.cal-cell:hover {
    -fx-border-color: #218AD5;
    -fx-background-color: #EBF2F6;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.cal-cell-selected {
    -fx-background-color: #218AD5;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.cal-cell-today {
    -fx-border-color: #218AD5;
    -fx-background-color: white;
    -fx-border-radius: 5;
}