@import "menu-pane.css";
.root{
    -fx-font-family: "Instrument Sans";
}

.main-pane{
    -fx-background-color: #EBF2F6;
}
.notification-icon{
    -fx-background-image: url("../images/notification_icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.notification-icon:hover {
    -fx-cursor: hand;
}
.active-queue-card{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.45), 10, 0, 0, 3);
}
.screen-label{
    -fx-text-fill: #218AD5;
    -fx-font-size: 24px;
    -fx-font-weight: 700;
}
.gw-card,
.wh-card,
.sf-card,
.dl-card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.45), 10, 0, 0, 3);
}
.gw-card:hover {
    -fx-cursor: hand;
    -fx-background-color: #F7FBFF;
    -fx-border-color: #218AD5;
    -fx-effect: dropshadow(gaussian, rgba(33,138,213,0.35), 14, 0.25, 0, 4);
}

.wh-card:hover {
    -fx-cursor: hand;
    -fx-background-color: #FFF7FA;
    -fx-border-color: #FFBCD3;
    -fx-effect: dropshadow(gaussian, rgba(255,188,211,0.45), 14, 0.25, 0, 4);
}

.sf-card:hover {
    -fx-cursor: hand;
    -fx-background-color: #F3FFFD;
    -fx-border-color: #4BF5DC;
    -fx-effect: dropshadow(gaussian, rgba(75,245,220,0.40), 14, 0.25, 0, 4);
}

.dl-card:hover {
    -fx-cursor: hand;
    -fx-background-color: #F7F5FF;
    -fx-border-color: #543BE9;
    -fx-effect: dropshadow(gaussian, rgba(84,59,233,0.35), 14, 0.25, 0, 4);
}

.gw-color-bar{
    -fx-background-color: #218AD5;
    -fx-background-radius: 16 0 0 16;
}
.wh-color-bar{
    -fx-background-color: #FFBCD3;
    -fx-background-radius: 16 0 0 16;
}
.sf-color-bar{
    -fx-background-color: rgba(75, 245, 220);
    -fx-background-radius: 16 0 0 16;
}
.dl-color-bar{
    -fx-background-color: #543BE9;
    -fx-background-radius: 16 0 0 16;
}

.gw-icon-circle{
    -fx-background-color: rgba(33, 138, 213, 0.15);
    -fx-background-radius: 100;
    -fx-min-width: 70;
    -fx-min-height: 70;
    -fx-alignment: center;
}
.wh-icon-circle{
    -fx-background-color: rgba(255, 188, 211, 0.25);
    -fx-background-radius: 100;
    -fx-min-width: 70;
    -fx-min-height: 70;
    -fx-alignment: center;
}
.sf-icon-circle{
    -fx-background-color: rgba(75, 245, 220, 0.25);
    -fx-background-radius: 100;
    -fx-min-width: 70;
    -fx-min-height: 70;
    -fx-alignment: center;
}
.dl-icon-circle{
    -fx-background-color: rgba(84, 59, 233, 0.15);
    -fx-background-radius: 100;
    -fx-min-width: 70;
    -fx-min-height: 70;
    -fx-alignment: center;
}

.gw-icon{
    -fx-background-image: url("../images/stethoscope.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.wh-icon{
    -fx-background-image: url("../images/femenine.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.sf-icon{
    -fx-background-image: url("../images/doctor.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.dl-icon{
    -fx-background-image: url("../images/science-lab-equipment.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.gw-label{
    -fx-text-fill: #218ad5;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}
.wh-label{
    -fx-text-fill: #DB2777;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}
.sf-label{
    -fx-text-fill: #0F766E;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}
.dl-label{
    -fx-text-fill: #543BE9;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}


.gw-text{
    -fx-font-size: 14;
}
.arrow-circle{
    -fx-background-color: white;
    -fx-background-radius: 100;
    -fx-min-width: 45;
    -fx-min-height: 45;
    -fx-max-width: 45;
    -fx-max-height: 45;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 3);
}
.arrow{
    -fx-background-image: url("../images/right-arrow-blue.png");
    -fx-background-size: 15 15;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.active-color-bar{
    -fx-background-color: #218AD5;
    -fx-background-radius: 16 0 0 16;
}
.active-icon-circle{
    -fx-background-color: rgba(33, 138, 213, 0.15);
    -fx-background-radius: 100;
    -fx-min-width: 60;
    -fx-min-height: 60;
    -fx-alignment: center;
}
.general-icon {
    -fx-background-image: url("../images/stethoscope.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.women-icon {
    -fx-background-image: url("../images/femenine.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.specialized-icon {
    -fx-background-image: url("../images/doctor.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lab-icon {
    -fx-background-image: url("../images/science-lab-equipment.png");
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.see-all{
    -fx-cursor: hand;
    -fx-text-fill: #218AD5;
}

.gw{
    -fx-text-fill: #218AD5;
}
.wh{
    -fx-text-fill: #DB2777;
}
.sf{
    -fx-text-fill: #0F766E;
}
.dl{
    -fx-text-fill: #543BE9;
}

.gw-pos{
    -fx-text-fill: #218AD5;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
.wh-pos{
    -fx-text-fill: #DB2777;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
.sf-pos{
    -fx-text-fill: #0F766E;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
.dl-pos{
    -fx-text-fill: #543BE9;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
.gw-card-separator .line {
    -fx-border-color: #218AD5;
    -fx-border-width: 0 0 0 1;
}
.wh-card-separator .line {
    -fx-border-color: #DB2777;
    -fx-border-width: 0 0 0 1;
}
.sf-card-separator .line {
    -fx-border-color: #0F766E;
    -fx-border-width: 0 0 0 1;
}
.dl-card-separator .line {
    -fx-border-color: #543BE9;
    -fx-border-width: 0 0 0 1;
}
.scroll-pane {
     -fx-background-color: #EBF2F6;
 }

.scroll-pane >.viewport {
    -fx-background-color: #EBF2F6;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: #EBF2F6;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #9EC9E6;
    -fx-background-radius: 10;
}

.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #6DAED6;
}