@import "menu-pane.css";

.main-pane{
    -fx-background-color: #EBF2F6;
}
.notification-icon{
    -fx-background-image: url("../images/notification_icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.notification-icon:hover {
    -fx-cursor: hand;
}
.card-pane{
    -fx-background-radius: 10;
    -fx-background-color: #98C9ED;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 15, 0, 0, 6);
}
.card-pane:hover{
    -fx-background-color: #1F7FC4 ;
    -fx-cursor: hand;
    -fx-translate-y: -4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 15, 0, 0, 6);
}
.wh-card:hover{
    -fx-background-color: #FFBCD3;
    -fx-cursor: hand;
    -fx-translate-y: -4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 15, 0, 0, 6);
}
.sf-card:hover{
    -fx-background-color: #91F9EA;
    -fx-cursor: hand;
    -fx-translate-y: -4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 15, 0, 0, 6);
}
.dl-card:hover{
    -fx-background-color: #543BE9;
    -fx-cursor: hand;
    -fx-translate-y: -4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 15, 0, 0, 6);
}
.gw-card:hover .label{
    -fx-text-fill: white;
}
.dl-card:hover .label{
    -fx-text-fill: white;
}

.gw-icon{
    -fx-background-image: url("../images/stethescope.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.wh-icon{
    -fx-background-image: url("../images/femenine.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.sf-icon{
    -fx-background-image: url("../images/doctor.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.dl-icon{
    -fx-background-image: url("../images/science-lab-equipment.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.arrow-icon{
    -fx-background-image: url("../images/right-arrow.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.active-queue-card{
    -fx-background-color: white;
    -fx-background-radius: 10;
}