@import "menu-pane.css";

.main-pane{
    -fx-background-color: #EBF2F6;
}
.back-to-queue{
    -fx-text-fill: #218AD5;
}
.back-to-queuetype:hover{
    -fx-cursor: hand;
}
.back-to-queuetype:hover .back-to-queue{
    -fx-font-weight: bold;
}
.notification-icon{
    -fx-background-image: url("../images/notification_icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.notification-icon:hover {
    -fx-cursor: hand;
}
.notice{
    -fx-background-color: #CEE4F4;
    -fx-background-radius: 10;
}
.notice:hover{
    -fx-background-color: #218AD5;
    -fx-background-radius: 10;
}

.notice:hover .notice-message{
    -fx-text-fill: white;
}
.form{
    -fx-background-color: #CEE4F4;
    -fx-background-radius: 10;
}
.form .textfield{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 10;
}
.combobox{
    -fx-background-color: white;
    -fx-text-fill: #CEE4F4;
}
.cancel-button{
    -fx-background-color: transparent;
    -fx-border-color: #218AD5;
    -fx-text-fill: #218AD5;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}
.cancel-button:hover{
    -fx-border-color: #98C9ED;
    -fx-background-color: #98C9ED;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 8;
}
.next-button{
    -fx-background-color: #218AD5;
    -fx-text-fill: white;
    -fx-background-radius: 8;
}
.next-button:hover{
   -fx-background-color: #98C9ED;
   -fx-text-fill: white;
   -fx-cursor: hand;
   -fx-background-radius: 8;
}
.scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}